{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}
    <center>
        <p><h2>Вход</h2></p>
        <form method="POST">
        {% csrf_token %}
            <p><img src="{% static 'image/user.png' %}" height="30">
            <input type="text" name="username"></p>
            <p><img src="{% static 'image/password.png' %}" height="30">
            <input type="password" name="password"></p>
            <input type="submit" value="Войти">
        </form>
    </center>
        <!-- Всплывающее сообщение после успешной регистрации -->
    {% for message in messages %}
        <center>
        <div class="card mt-5 col-sm-5 card w-30">
            <div class="card-body">
                <p id="messages">{{ message }}</p>
            </div>
        </div>
    </center>
    {% endfor %}
{% endblock %}