{% extends 'base.html' %}
{% load static %}
{% block title %}User profile{% endblock %}

{% block content %}
    <h2>Hello {{ request.user }}</h2>
    {% if request.user.useraccount.picture %}
    <img src="{{ request.user.useraccount.picture.url }}" height="200">
    {% else %}
    <img src="{% static 'image/user1.png' %} " height="200">
    {% endif %}
    <p><a href="{% url 'update' %}" class="btn btn-primary mt-2">Редактировать</a></p>
    {% for service in all_services %}
        <div class="container">
            <div class="card-body">
            <a href="{% url 'view_service' service.pk %}">
              <h5 class="card-title">{{ service.title }}</h5>
            </a>
            <p class="card-text">{{ service.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ service.price }}</li>
            <li class="list-group-item">{{ service.date_created }}</li>
          </ul>
          <div class="card-body">
            <p>{{ service.user }}</p>
          </div>
        </div>
    {% endfor %}
{% endblock %}
