{% extends 'base.html' %}

{% block title %}Прещепка{% endblock %}

{% block content %}
    {% for service in all_services %}
        <div class="card mt-5" style="width: 25rem;">
          <div class="card-body">
            <a href="{% url 'view_service' service.pk %}">
              <h5 class="card-title">{{ service.title }}</h5>
            </a>
            <p class="card-text">{{ service.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ service.price }}</li>
            <li class="list-group-item">{{ service.date_created }}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Подробнее</a>
            <a href="#" class="card-link">Автор</a>
          </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}