{% load static %}
<div class="container mt-3">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{% url 'home' %}"><img src="{% static 'image/ico.png' %}" height="42"></a>
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
    </a>
    <div class="nav col-8 col-lg-auto me-lg-auto ml-5 mb-2 justify-content-center mb-md-0">
    {% if not request.user.is_authenticated %}
      <a href="{% url 'home' %}" class="nav-link px-2 link-dark">Прещепка</a>
      <a href="{% url 'add_user' %}" class="nav-link px-2 link-dark">Регистрация</a>
      <a href="{% url 'login' %}" class="nav-link px-2 link-dark">Вход</a>
    {% else %}
      <a href="{% url 'home' %}" class="nav-link px-2 mt-2 link-dark">Прещепка</a>
      <a href="{% url 'add_service' %}" class="nav-link px-2 link-dark"><img src="{% static 'image/plus.png' %}" height="42"></a></a>
    {% endif %}

    </div>
    <div class="container mt-2 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <h4>{{ request.user.username }}</h4>
    </div>
      {% if not request.user.is_authenticated %}
          <img src="{% static 'image/user.png'%}" class="rounded-circle" height="42">
      {% else %}
         <a href="{% url 'account' %}" class="d-block link-dark">
           <img src="{{ request.user.userinfo.image.url }}" class="rounded-circle" height="42">
         <a href="{% url 'logout' %}" class="nav-link px-4 link-dark">Выход</a>
      {% endif %}
      </a>
  </div>
</div>
<hr>
<!--    {% if request.user %}-->
<!--    <h2><a href="{% url 'home' %}">Home page</a></h2>-->
<!--    <h2><a href="{% url 'account' %}">{{ request.user.username }}</a></h2>-->
<!--    {% endif %}-->
<!--    <a href="{% url 'add_user' %}">create user</a> |-->
<!--    <a href="{% url 'login' %}">LogIn</a> |-->
<!--    <a href="{% url 'logout' %}">logOut</a> |-->
<!--    <a href="{% url 'add_service' %}">+service</a> |-->
<!--    <a href="{% url 'forgot' %}">Change password</a>-->