{% extends 'base.html' %}


{% block content %}
<h2>All services</h2>
    {% for service in services %}
    <div>
        <p><a href="{% url 'detail' service.pk %}">{{ service.title }}</a></p>
        {% if service.picture %}
        <p><img src="{{ service.picture.url }}" height="200"></p>
        {% endif %}
        <p>{{ service.descriptions }}</p>
        <p>{{ service.price }}</p>
        <p>{{ service.date_created }}</p>
        <p>{{ service.user }}</p>
    </div>
    {% endfor %}
{% endblock %}