{% extends 'base.html' %}

{% block title %}{{ service.title }}{% endblock %}

{% block content %}
    <div>
        <p>{{ service.title }}</p>
        {% if service.picture %}
        <p><img src="{{ service.picture.url }}" height="200"></p>
        {% endif %}
        <p>{{ service.descriptions }}</p>
        <p>{{ service.price }}</p>
        <p>{{ service.date_created }}</p>
        <p>{{ service.user }}</p>
        <a href="{% url 'update' service.pk %}">Update</a> |
        <a href="{% url 'delete' service.pk %}">Delete</a>
    </div>
    <div>
        {% for comm in service.comments_set.all %}
        <div>
            <p>{{ comm.comment }}</p>
            <p>{{ comm.date_created }}</p>
            <p>{{ comm.user }}</p>
        </div>
        <br>
        {% endfor %}
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.comment.label }}{{ form.comment }}
            <input type="submit" value="add comment">
        </form>
    </div>
{% endblock %}