{% extends 'base.html' %}

{% block title %}{{ service.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div>
        {% if service.picture %}
        <img src="{{ service.picture.url }}" class="rounded" height="200">
        {% endif %}
        </div>
        <div>
        <p>{{ service.title }}</p>
        <p>{{ service.descriptions }}</p>
        <p>{{ service.price }}</p>
        <p>{{ service.date_created }}</p>
        <p>{{ service.user }}</p>
        {% if service.rubric %}
        <p>{{ service.rubric }}</p>
        {% endif %}
        </div>
    </div>
    <div class="container">
        <a href="{% url 'update' service.pk %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete' service.pk %}" class="btn btn-secondary">Delete</a>
    </div>
    <div class="container mt-3">
        {% for comm in service.comments_set.all %}
        <div class="container bt-3 border">
            <a href="{% url 'account' comm.user.pk %}">{{ comm.user }}</a>
            <p class="mt-2">{{ comm.comment }}</p>
            <span class="d-flex justify-content-end">{{ comm.date_created|date:'d.m.Y H:i:s' }}</span>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="container mt-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-secondary" value="add comment">
        </form>
    </div>
{% endblock %}