{% extends 'base.html' %}

{% block title %}Редактировать{% endblock %}

{% block content %}
<div class="container">
    <h2>Редактировать</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.picture.label }}{{ form.picture }}</p>
        <p>{{ form.title.label }}{{ form.title }}</p>
        <p>{{ form.descriptions.label }}{{ form.descriptions }}</p>
        <p>{{ form.price.label }}{{ form.price }}</p>
        <input type="submit" class="btn btn-secondary" value="Update service">
    </form>
</div>
{% endblock %}