{% extends 'base.html' %}
{% load static %}

{% block title %}Аккаунт {{ user.username }}{% endblock %}

{% block content %}
<div class="container">
<h2>{{ user.username }}</h2>
    {% if user.userinfo.image %}
    <img src="{{ user.userinfo.image.url }}" height="150"><br>
    {% else %}
    <img src="{% static 'image/user1.png' %}" height="150"><br>
    {% endif %}
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% if user.userinfo.phone %}
    <p>{{ user.userinfo.phone }}</p>
    {% endif %}
    <p>{{ user.email }}</p>
    <p><a type="button" class="btn btn-secondary mt-2" href="{% url 'account_update' %}">Редактировать профиль</a></p>
</div>
<div class="container">
    {% for user_serv in user.service_set.all %}
    <div class="container mt-4">
    <div class="d-flex position-relative mt-3">
      {% if user_serv.picture %}
      <img src="{{ user_serv.picture.url }}" height="200" class="rounded mx-2">
      {% endif %}
      <div class="container border px-5">
        <br>
        <h5 class="mt-0">{{ user_serv.title }}</h5>
        <p>{{ user_serv.descriptions }}</p>
        <p>{{ user_serv.price }}</p>
          <span class="container d-flex justify-content-end">
              {{ service.date_created|date:'d.m.Y H:i:s'}}
          </span>
      </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}